@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.botao-vertical.selecionado {
  transform: translateX(-5px);
  pointer-events: none;
  background-color: #00c8ff;
}

/* Texto rotacionado em 90 graus */
.texto-rotacionado {
  transform: rotate(-90deg);
  font-size: 16px;
  font-weight: 500;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1vw;
  text-align: center;
  
  /* white-space: nowrap; */
}
.layout-lateral {
  display: flex;
  min-height: 73.2vh;
}

.botao-vertical  {
  display: flex; /* Ativa Flexbox para centralização */
  justify-content: center; /* Centraliza o texto horizontalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  background-color: #00aeea;
  color: #000;
  padding: 12px; /* Espaçamento interno */
  border: none;
  border-radius: 12px 0 0 12px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho do texto */
  font-family: Arial, sans-serif; /* Estilo da fonte */
  font-weight: 500; /* Peso da fonte */
  cursor: pointer;
  height: 120px; /* Altura fixa do botão */
  width: 60px; /* Largura fixa do botão */
  text-align: center; /* Centraliza o texto */
  transition: transform 0.3s ease, margin 0.3s ease;

}
